<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/content.css">
  
</head>
<body>
    <div class="content-container">
     <h1 class="set-content">Music Categories</h1>
     <ul class="mustictypescomtainer">
        <li class="musictypes">Classic</li>
        <li class="musictypes">90's</li>
        <li class="musictypes">New</li>
        <li class="musictypes">Instrumental</li>
        <li class="musictypes">Dance</li>
        <li class="musictypes">Modern</li>
        <li class="musictypes">Rajasthani</li>
     </ul>
      <h1 class="set-content">Recommended Songs</h1>
      <ul class="musicemojicontainer">
        <li class="musicemojis">🥰</li>
        <li class="musicemojis">😔</li>
      </ul>
     
    </div>
   
       <script src="/static/js/content.js"></script>
</body>
</html>