<!DOCTYPE html>
<html>
  <head>
    <title>Music Recommendation</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="body-container">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg px-4 mb-4"
    >
      <div class="container-fluid">
        <a class="navbar-brand text-glow" onclick="toggleSidebar()" href="#">Moodify</a>
        <button
          class="navbar-toggler"
          onclick="toggleSidebar()"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample05"
          aria-controls="navbarsExample05"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
          <form class="search-bar searchbtn" role="search">
        <input
          class="form-control  flex-grow-1 searchbar"
          type="search"
          placeholder="Search Music"
          aria-label="Search"
        />
      </form>
      <button id="themeToggle" class="theme-toggle">🌙</button>
      </div>
   
    </nav>
<!-- for video player image -->

    <div class="topbar">
      <div class="section-player">
           <img src="C:\Users\Khushi\Desktop\DeepPracticals\Music-recommendation-system-master\images\videoplayerfinal.png" class="showimage" alt="Image not showing">
        <img class="musicwave" src="https://cdn-icons-png.flaticon.com/128/1792/1792737.png" alt="">
      </div>
    <div class="content-container">
  {% include "component/content.html" %}
</div>
       <div class="face-scanner scanner-container">
   <p class="scan-mood-heading">Scan Mood</p>
   <img src="https://cdn-icons-png.flaticon.com/128/711/711191.png" class="scanner-image"  onclick="startCamera()" height="50" width="50" alt="">
    <!-- <p id="result" style="font-size: 20px; font-weight: bold;"></p> -->
     </div>
    </div>

    <div
      id="Sidebar"
      class="d-flex flex-column flex-shrink-0 p-3"
      style="width: 280px"
    >
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active sidebar-link" aria-current="page">
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link sidebar-link">
            Favourites
          </a>
        </li>
      </ul>
      <hr />
      <div class="dropdown">
        <a
          href="#"
          class="d-flex align-items-center text-decoration-none dropdown-toggle profile-link"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt=""
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>

    <form action="/recommend" method="post">
      <!-- <button type="submit">Start Webcam & Get Recommendation</button> -->
    </form>
    <script src="/static/js/index.js"></script>
  </body>
</html>
